@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS vars */
.light {
  --primary: 240 6% 10%;
  --primary-contrast: 240 6% 90%;
  --secondary: 240 5% 96%;
  --success: 142 72% 29%;
  --error: 0 84% 60%;
  --accent: 0 0% 95%;
  --border: 240 6% 90%;

  --scaffold: 0 0% 100%;
  --contrast: 0 0% 19%;
  --placeholder: 240 4% 46%;
  --ring: 240 10% 4%;
}

.dark {
  --primary: 240 5% 84%;
  --primary-contrast: 0 0% 19%;
  --secondary: 240 4% 16%;
  --success: 143 64% 24%;
  --error: 0 63% 31%;
  --accent: 240 10% 4%;
  --border: 240 4% 16%;

  --scaffold: 240 6% 10%;
  --contrast: 240 6% 90%;
  --placeholder: 240 5% 65%;
  --ring: 240 5% 84%;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
