/* slider track */
.range::-webkit-slider-runnable-track {
  @apply appearance-none;
}

.range::-moz-range-track {
  @apply appearance-none;
}

.range::-webkit-slider-thumb {
  @apply appearance-none bg-teal-400 h-4 w-4 rounded-full;
}

.range::-moz-range-thumb {
  @apply appearance-none bg-teal-400 h-4 w-4 rounded-full;
}

.range:focus::-webkit-slider-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
  position: relative;
}

.range:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */
/* .range::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
} */
